html {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.heading {
    font-size: 3em;
    text-shadow: 0 0 2em red;
    margin-top: 1em;
    margin-bottom: 0.125em;
}
.number-item {
    background-color: green;
}

td, tr {
    color: black;
}
tbody {
    margin-bottom: 10;
    
}
#comment {
    /*right:370px;*/
    width:400px;
    float: left;
    padding: 2.5px;
    border: .5px solid black;;
}

#buttonSend {
    float: right;
}


#userBox {
    overflow: auto;
    width: 300px;
    height: 640px;
    background-color: #57719b;
    float: left;
    color: black;
}

#chatBox {
    overflow: auto;	
	border: 3px solid black;
    height: 600px;
    width: 500px;
    background-color: white;
    background-image: url("http://besticons.net/sites/default/files/myspace-icons-786.png");
    background-size: 500px;
    color: black;
}
#images{
    
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

#name {
    font-size: .7em;
    color: #212121;
    
}
#message
{
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px; 
    float: right;
    width: 420px;
    background-color: white;
    background: rgba(255, 255, 255, .7); 
}

#avatar
{
    width: 50px;
    border-radius: 10px;
}