html {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}

#UI {
    margin: auto;
    position: absolute;
    right: 15%;
}
.heading {
    font-size: 3em;
    text-shadow: 0 0 2em red;
    margin-top: 1em;
    margin-bottom: 0.125em;
}
.number-item {
    background-color: green;
}

td, tr {
    color: black;
}
tbody {
    margin-bottom: 10;
    
}

#content {
    background-color: white;
    border: 4px;
    
}
#comment {
    /*right:370px;*/
    width:700px;
    height: 35px;
    float: left;
    padding: 4px;
    border: 2.5px solid white;
}

#buttonWrapper {
    float: right;
}
#buttonSend {
    height: 35px;
    width: 100px;
}


#userBox {
    overflow: auto;
    width: 300px;
    height: 627px;
    background-color: #bbbaff;
    border: 3px solid white;
    background-size: 300px;
    background-position: 50% 79%;
    float: left;
    color: black;
    padding: 4;
}

#chatBox {
    overflow: auto;	
	border: 3px solid white;
    height: 600px;
    width: 800px;
    background-color: white;
    background-image: url("img/myspace.png");
    background-size: 800px;
    color: black;
}
#images{
    
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

#name {
    font-size: .7em;
    color: #212121;
    
}
#message
{
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px; 
    float: right;
    width: 710px;
    background-color: white;
    background: rgba(255, 255, 255, .7); 
}

#avatar
{
    width: 50px;
    border-radius: 10px;
}

#messageImage {
    width: 200px;
}