<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />

        <meta
             name="google-signin-scope"
             content="profile email" />
             <meta
             name="google-signin-client_id"
             content="233732937185-vs8j3hes4a27uf6ufvhq7peijbbr6tub.apps.googleusercontent.com" />
         <script src="https://apis.google.com/js/platform.js" async defer>
         </script>
    
        <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '390393557996792',
                  xfbml      : true,
                  version    : 'v2.8'
                });
                FB.AppEvents.logPageView();
              };
            
              (function(d, s, id){
                  console.log("stuff is happening")
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
               
               function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                  console.log('Successful login for: ' + response.name);
                  document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
                });
              }
        </script>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>